.App {
  max-width: 800px;
  margin: 30px auto;
}

body {
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  font-family: arial, sans-serif;
}

.weather-app-vanilla {
  max-width: 800px;
  margin: 50px auto 0;
  padding: 80px 60px 100px 60px;
  border: 2px solid #615f69;
  border-radius: 10px;
  background-color: white;
}

.col-9 {
  margin-bottom: 20px;
}
.overview {
  margin-bottom: 30px;
}

@keyframes example {
  0% {
    background-color: rgb(238, 177, 177);
  }
  25% {
    background-color: rgb(228, 228, 157);
  }
  50% {
    background-color: rgb(160, 160, 231);
  }
  100% {
    background-color: rgb(183, 196, 183);
  }
}
.weather-temperature img {
  border-radius: 70%;
  margin-right: 20px;
  height: 110px;
  width: 110px;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 25px;
  top: -34px;
}

.d-flex .weather-temperature {
  margin: 30px;
  padding: 0px;
}
h1 {
  color: #5f3f3f;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
}

li:first-letter {
  text-transform: capitalize;
}
.description {
  text-transform: capitalize;
}

.github-link {
  text-align: center;
  margin: auto;
  color: rgb(207, 126, 126);
}

.link {
  color: rgb(207, 126, 126);
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
